# vim: set ts=2 sts=2 sw=2 expandtab :
dist: xenial
sudo: required
language: bash
services:
  - docker

cache:
  directories:
  - cache/
  - output/

before_install:
  - curl -Ls -o docker-build https://github.com/mate-desktop/mate-dev-scripts/raw/master/travis/docker-build
  - chmod +x docker-build

install:
  - sudo apt-get install -y python3-pip python3-setuptools
  - sudo pip3 install --upgrade pip
  - sudo pip install PyGithub
  - ./docker-build --name ${DISTRO} --config .build.yml --install

script:
  - ./docker-build --name ${DISTRO} --verbose --config .build.yml --build scripts

notifications:
  irc:
    if: branch = master AND
        repo = "mate-desktop/mate-desktop.org"
    channels:
      - "irc.freenode.org#mate-dev"
    template:
      - "[%{repository_name}] %{author}: %{commit_subject}"
      - "[%{branch}] %{commit} %{message} %{build_url}"
    on_success: never
    on_failure: always

deploy:
  #preview website
  - provider: pages
    github-token: $GITHUB_TOKEN
    skip_cleanup: true
    committer-from-gh: true
    target-branch: gh-pages
    local-dir: www
    on:
      all_branches: true
      condition: '$TRAVIS_BRANCH != master'

  #deploy offical website
  - provider: script
    script: ./docker-build --config .build.yml --release scripts
    skip_cleanup: true
    on:
      branch: master

after_success:
  - 'if [[ "$TRAVIS_SECURE_ENV_VARS" == "true" && "$TRAVIS_PULL_REQUEST" != "false" ]]; then
        URL="https://preview.mate-desktop.dev";
        COMMENT="Preview website deployed.";
        curl -H "Authorization: token $GITHUB_TOKEN" -X POST
           -d "{\"state\": \"success\", \"description\": \"$COMMENT\", \"context\":\"nikola-build\", \"target_url\": \"$URL\"}"
           https://api.github.com/repos/${TRAVIS_REPO_SLUG}/statuses/${TRAVIS_PULL_REQUEST_SHA};
     fi'

env:
  - DISTRO="archlinux/base"
