
/* Small margin for social icon in navbar */
.small-margin {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: 4px;
}

/* Fading for social icons */
.social-icon {
    opacity:1.0;
    filter:alpha(opacity=100);
}

.social-icon:hover {
    opacity:0.8;
    filter:alpha(opacity=80);
}

.navbar .nav>li>a {
    color: #666;
}

a, a:hover,a:focus,
.navbar .brand:hover,.navbar .brand:focus,
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover,
.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus{
    color: #97bb72;
}
