/* MATE Desktop custom theme colors */
/* MATE Green: #87A752 = hsl(80, 36%, 49%) */

:root {
  --primary-hue: 80deg;
  --primary-saturation: 36%;
  --primary-lightness: 49%;
}

.dark {
  --primary-hue: 80deg;
  --primary-saturation: 40%;
  --primary-lightness: 55%;
}

/* The following is only a hack to have the Read More Links in the blog also themed in the root color */

:root {
  --blog-link-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
  --blog-link-hover-color: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) - 8%));
}

.dark {
  --blog-link-hover-color: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) + 8%));
}

main#content > div.hx\:mb-10 a[aria-label^="Read more"] {
  color: var(--blog-link-color);
}

main#content > div.hx\:mb-10 a[aria-label^="Read more"]:hover {
  color: var(--blog-link-hover-color);
}

/* Until here */
